.canvasDraw {
	cursor: url('./drawCursor.svg') 4 4, crosshair;
}

.canvasDisable {
	cursor: not-allowed;
}

.gameContainer {
	min-width: 1000px;
}

.chatContainer {
	height: 450px;
}

.chatList {
	overflow-y: auto;
}

.chatItem {
	word-break: break-word;
}